body{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #433838;
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    gap: 61vw;
    margin-left: 2vw;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2vw;
}

.logo-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: black;
}

.logo-text,
.back-text {
    transition: opacity 0.3s ease;
    display: inline-block;
}

.back-text {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.logo-link:hover .logo-text {
    opacity: 0;
}

.logo-link:hover .back-text {
    opacity: 1;
}

.header_about{
    text-transform: uppercase;
    z-index: 100;
}

.Nav{
    z-index: 100;
}
.noActive{

    color: rgba(0, 0, 0, 0.50);
}

h1{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    z-index: 100;
}

p{
    font-size: 1vw;
    font-weight: 300;
    color: white;

}

/*about*/
.about{
    position: relative;
}

.head_img{
    position: absolute;
    top: 0;
    margin: -0.5vw;
    /*z-index: 100;*/
}

.header_about_img{
    width: 100vw;
    height: 35vw;
    transition: transform 0.1s;

}

.about_img{
    position: absolute;
    z-index: -1;
    width: 85vw;
    height: 70vw;
    margin-top: -20vw;
}

.pixelated-image-card {
    position: relative;
    width: 100vw;
    height: 35vw;
    overflow: hidden;
}

.pixelated-image-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pixelated-image-card__default,
.pixelated-image-card__active,
.pixelated-image-card__pixels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pixelated-image-card__active {
    display: none;
    pointer-events: none;
}

.pixelated-image-card__pixels {
    pointer-events: none;
}

.pixelated-image-card__pixel {
    position: absolute;
    background-color: #935b93;
    display: none;
}

.about_text{
    margin-left: 2vw;
    margin-top: 35vw;
    color: white;
}

.about_txt{
    font-weight: 700;
    margin-top: 1.5vw;
}

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 30vw;
}

.carousel {
    display: flex;
    margin-top: 2.5vw;
    gap: 1vw;
    animation: scroll 20s linear infinite;
}

.carousel img {
    height: 100%;
    filter: grayscale(100%) brightness(0.5);
    transition: filter 0.3s, transform 0.5s;
    cursor: pointer;
}

.carousel img:hover {
    filter: none;
    z-index: 10;
}

.carousel.paused {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.poster1_h1{
margin-left: 2vw;
    margin-top: 2vw;
}

.poster1{
    width: 55vw;
    height: 35vw;
   margin-top: 2vw;
    margin-left: 25vw;
}

.poster1_btn{
    position: absolute;
    margin-top: 33vw;
    margin-left: -32vw;
    text-transform: uppercase;
    padding: 1vw 2vw;
    background-color: #C674DF;
    color: white;
    box-shadow: none !important;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.poster1_btn:hover {
    background-color: #4B1C59;
    color: white;
}
.footer_about{

}

.line_about{
    margin-top: 10vw;
    margin-left: 2vw;
    display: block;
    width: 95vw;
}

.music_about{
    position: absolute;
    margin-top: -0.5vw;
    margin-left: 2vw;
    pointer-events: none;
    transform: translate(-50%, -50%);

}



/*events*/

.event{
    color: white;
}

.header_event{
    z-index: 100;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.50);
}

.event_content{
    display: flex;
    align-items: flex-start;
    width: 100vw;
    margin-top: 4vw;
    gap: 10vw;
    position: relative;
    flex: 1;
}

.event_container{
    flex-direction: column;
    width: 50vw;
    margin-left: 2vw;
    min-height: 100vh;
}
.event_stroke{
    position: relative;
    padding: 2vw 0;
    color: white;
    transition: background-color 0.3s ease;
}
.info:hover {
    background-color: #CA8448;
}

.event .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1vw;
}

.info{
    display: flex;
    border-bottom: 1px solid white;
    padding: 2vw 0vw;
    gap: 15vw;
}

.ev1{
    margin-left: 2vw;
}

.ev2{
    margin-left: 1vw;
}

.ev3{
    margin-left: 13.5vw;
}

.ev4{
    margin-left: 9.1vw;
}

.ev5{
    margin-left: 11.5vw;
}

button {
    margin-top: 8px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #CA8448;
    color: #2d2523;
}


.event_images{
    width: 60vw;
    height: 50vw;
    margin-right: -15vw;
    position: sticky;
        align-self: flex-start;
}

.event_img{
    position: absolute;
    object-fit: cover;
}

.sticky-disabled {
    position: static !important;
    transform: translateY(0) !important;
}



/*events pages*/
.main-container-event1{
    position: relative;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

}

.page_event_1{
    position: absolute;
    margin-top: -2vw;
    margin-left: -1vw;
    width: 110%;
    height: 30vw;
    z-index: 1;
}

.event_h2{
    position: absolute;
    z-index: 10;
    margin-top: 20vw;
    margin-left: 2vw;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.event_date, .event_date_2 {
    position: absolute;
    z-index: 10;
    margin-top: 25vw;
    margin-left: 70vw;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
.event_date_2{
   margin-left: 90vw;
}

.event_info_txt{
    display: flex;
    z-index: 10;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    color: #ffffff;
}
.ev_h1{
    width: 20%;
    margin-top: 30vw;
    margin-left: 2vw;
}
.p_events{
    font-size: 1.2vw;
    margin-top: 33vw;
    margin-left: -10vw;
}

.event_btn{
    margin-left: 2vw;
    padding: 1.1vw 3vw;
    background-color: #CA8448;
    border: none;
}

/*card*/
:root {
    --primary: #ca8448;
    --error: #dc2626;
}

* {
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    color: #ffffff;
}

.form-header {
    text-align: center;
    margin-bottom: 2rem;
}

.form-card {
    border-radius: 8px;
    padding: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}


input, textarea {
    margin-left: 7vw;
    width: 80vw;
    padding: 0.75rem;
    border: 0.1vw solid  #CA8448;
    background-color: #433838;
    border-radius: 4px;
    font-size: 1rem;
    transition: border 0.2s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgb(202, 132, 72);
}

.error-message {
    color: var(--error);
    font-size: 0.85rem;
    margin-top: 0.25rem;
    display: none;
}

.input-error {
    border-color: var(--error);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.tickets{
    background-color: #ca8448;
    padding: 1.1vw 33.7vw;
    margin-left: 9.5vw;
    border: none;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 40vw;
    min-height: 150px;
    overflow: hidden;
    margin: 20px 0;
}

.carousel-track {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    animation: scroll 100s linear infinite;
}

.slider-item {
    flex-shrink: 0;
    width: 20vw;
    height: 12vw;
    min-width: 15vw;
    min-height: 29vw;
    margin: 0 1.5vw;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.slider-item:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 6px 20px rgb(202, 132, 72);
    z-index: 2;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.poster2_btn{
    position: absolute;
    margin-top: 33vw;
    margin-left: -32vw;
    text-transform: uppercase;
    padding: 1vw 2vw;
    background-color: #ca8448;
    color: white;
    box-shadow: none !important;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.poster2_btn:hover {
    background-color: #674529;
    color: white;
}



/*Store*/
.icon-menu{
    margin-left: 18vw;
    z-index: 1000;
}
.icon-link{
    position: sticky !important;
}
.icon-store{
    width: 1.5vw;
    height: auto;
}
.store-img{
    position: absolute;
    width: 100%;
    height: 35vw;
    margin-left: -0.7vw;
    margin-top: -0.6vw;
}

.store-content{
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
    gap: 10vw;
    justify-content: flex-start;
}

.store-content > h2 {
    width: 100%;
}


h2{
    margin-top: 35vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    z-index: 100;
}

.product-info{
    display: flex;
    gap: 15vw;
}
.с2{
    margin-top: -1.5vw;
}
.add-to-cart{
    padding: 1vw 9vw;
    background: #369479;
    border: none;
}
.add-to-cart:hover{
    background: #0a523d;
    color: white;
}

.icon-card{
    position: absolute;

}

.favorite-btn {
    position: absolute;
    margin-left: 20vw;
    background: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10;
}

.favorite-icon {
    transition: all 0.3s ease;
}
.favorite-btn:hover .favorite-icon {
    stroke: #369479;
    transform: scale(1.1);
}

.favorite-btn:hover {
    background-color: transparent;
}

.favorite-btn.active .favorite-icon {
    fill: #369479;
    stroke: #369479;
}

.с8{
    gap:10vw;
}
.book-title{
    width: 100%;
    height: 5vw;
    display: flex;
    gap: 30vw;
}
.book-title-h2{
    margin-top: 5vw;
    margin-left: 2vw;
    margin-left: 2vw;
}

.book-title-btn{
    padding: 0.7vw 3.5vw;
    border: #369479 1px solid;
    margin-left: 75vw;
    margin-top: -3vw;
}
.book-title-btn:hover{
    background: #369479;
    color: white;
}

.book-description{
    display: flex;
    flex-wrap: wrap;
}

.book-img{
    width: 45vw;
    height: auto;
    margin-left: 1.2vw;
    margin-top: 2vw;
}

.description{
    width: 25vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 10vw;
    font-size: 1.1vw
}

.book-price{
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    margin-left: -25vw;
    margin-top: 19vw;
}
.book-btn{
    position: absolute;
    background: #369479;
    color: white;
    padding: 1.2vw 10vw;
    border: none;
    margin-left: 56vw;
    margin-top: -10vw;
}

.book-btn:hover{
    background: #0a523d;
    color: white;
}
